@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
  --accent-rgb: 255 0 25;
}

html,
body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

body.navActive {
  overflow: hidden;
}

@media (min-width: 768px) {
  body.navActive {
    overflow: scroll;
  }
}

.holder {
  max-width: 1024px;
}

a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 375ms;
}

a:hover {
  color: rgb(var(--accent-rgb));
}
